.container-note-detail.svelte-1ubllvz{margin:0 auto;width:90%;padding:2em 0;height:80vh!important}.center.svelte-1ubllvz{display:grid;place-content:center}.description.svelte-1ubllvz{margin-top:20px}
