@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

p:empty:not(:focus)::before {
    content: attr(data-placeholder);
}

h1:empty:not(:focus)::before {
    content: attr(data-placeholder);
}

div.disabled {
    pointer-events: none;
}

div.disabled *:focus {
    outline: 0;
}

h1,
p {
    font-family: "Rubik", sans-serif;
}