@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import 'carbon-components-svelte/css/g100.css';

@media (data-theme: light) {
    @import 'carbon-components-svelte/css/white.css';
}

@tailwind base;
@tailwind components;
@tailwind utilities;
/* By default, include the "light" color theme for syntax highlighting */

p:empty:not(:focus)::before {
    content: attr(data-placeholder);
}

h1:empty:not(:focus)::before {
    content: attr(data-placeholder);
}

div.disabled {
    pointer-events: none;
}

div.disabled *:focus {
    outline: 0;
}

h1,
p {
    font-family: 'Raleway', sans-serif;
}

textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    resize: none;
    text-align: center;
}

flex-element {
    border-radius: 10px;
    padding: 10px;
}

flex {
    display: flex;
    overflow: hidden;
}

flex.h {
    flex-direction: row;
}

flex.v {
    flex-direction: column;
}

flex-item {
    /* display: flex; */
    /* position: relative; */
    /* overflow: hidden; */
    overflow: auto;
}

flex>flex-resizer {
    flex: 0 0 7px;
    /* background: white; */
    background-color: var(--back);
    background-repeat: no-repeat;
    background-position: center;
}

flex.h>flex-resizer {
    cursor: ew-resize;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='30'><path d='M2 0 v30 M5 0 v30 M8 0 v30' fill='none' stroke='black'/></svg>");
}

flex.v>flex-resizer {
    cursor: ns-resize;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='10'><path d='M0 2 h30 M0 5 h30 M0 8 h30' fill='none' stroke='black'/></svg>");
}