@tailwind base;
@tailwind components;
@tailwind utilities;

p:empty:not(:focus)::before {
    content: attr(data-placeholder);
}

h1:empty:not(:focus)::before {
    content: attr(data-placeholder);
}

div.disabled {
    pointer-events: none;
}

div.disabled *:focus {
    outline: 0;
}